{% extends "base.html" %}
{% block title %}소비패턴에 따른 녹색금융 추천{% endblock %}
{% block additional_head %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
<body>
        
        
        <div class="wrap">
            <div class="sub-tit-wrap">
                <h2 class="sub-tit">공공시설</h2>
            </div>
            
                    <div id="listAjax">
            <div class="public-facilities-list">
                <dl>
                  <dt>성호체육문화센터</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                    031-440-8300
                     </dd>
                  
                </dl>
                <dl>
                  <dt>화성반월체육센터</dt>
            
                   <dd>
                    &nbsp;할인(20%할인)
                    031-273-0530
                     </dd>
                  
                </dl>
                <dl>
                  <dt>영도국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(20%할인)
                    051-405-0050
                     </dd>
                  
                </dl>
                <dl>
                  <dt>연천군청소년수련관</dt>
            
                   <dd>
                    &nbsp;할인(50%할인)
                    031-834-2620
                     </dd>
                  
                </dl>
                <dl>
                  <dt>제주혁신도시복합혁신센터 수영장</dt>
            
                   <dd>
                    &nbsp;할인(50%할인)
                   064-738-3801
                     </dd>
                  
                </dl>
                <dl>
                  <dt>서귀포 혁신도시 국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(50%할인)
                    064-760-3640
                     </dd>
                  
                </dl>
                <dl>
                  <dt>서귀포국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(50%할인)
                    064-739-0363
                     </dd>
                  
                </dl>
                <dl>
                  <dt>연제구 거제국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                    051-665-5351
                     </dd>
                  
                </dl>
                <dl>
                  <dt>김천 실내수영장</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                    054-420-7900
                     </dd>
                  
                </dl>
                <dl>
                  <dt>김해진영스포츠센터</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                    055-344-2800
                     </dd>
                  
                </dl>
                <dl>
                  <dt>율하체육관</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                    055-329-1039
                     </dd>
                  
                </dl>
                <dl>
                  <dt>김해장유스포츠센터</dt>
            
                   <dd>
                    &nbsp;할인(10% 할인)
                    055-312-8445
                     </dd>
                  
                </dl>
                <dl>
                  <dt>대부동복지체육센터</dt>
            
                   <dd>
                    &nbsp;할인(10%)
                   032-880-9768
                     </dd>
                  
                </dl>
                <dl>
                  <dt>안산 올림픽기념관</dt>
            
                   <dd>
                    &nbsp;할인(10%할인)
                   031-481-4954
                     </dd>
                  
                </dl>
                <dl>
                  <dt>돌모루 테니스장</dt>
            
                   <dd>
                    &nbsp;할인(20% 할인)
                    031-8012-7756
                     </dd>
                  
                </dl>
                <dl>
                  <dt>동탄중앙어울림센터</dt>
            
                   <dd>
                    &nbsp;할인(20% 할인)
                    031-376-9404
                     </dd>
                  
                </dl>
                <dl>
                  <dt>화성남부국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(20% 할인)
                    031-351-9512
                     </dd>
                  
                </dl>
                <dl>
                  <dt>화성국민체육센터</dt>
            
                   <dd>
                    &nbsp;할인(입장료 및 강습료 20% 할인)
                    031-278-7178
                     </dd>
                  
                </dl>
                <dl>
                  <dt>선부체육관</dt>
            
                   <dd>
                    &nbsp;할인(10% 할인)
                    031-480-6316
                     </dd>
                  
                </dl>
                <dl>
                  <dt>안산호수공원실내수영장</dt>
            
                   <dd>
                    &nbsp;할인(10% 할인)
                    031-8085-7485
                     </dd>
                  
                </dl>
                </div>
                
                
            </body>
{% endblock %}