{% extends "10.bootstrap.html" %}
{% block title %}인터파크 베스트셀러{% endblock %}
{% block subtitle %}인터파크 베스트셀러{% endblock %}
{% block additional_head %}
    <style>
        th { text-align: center; }
    </style>
{% endblock %}
{% block content %}
    <table class="table">
        <tr>
            <th>순위</th>
            <th>제목</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
            <th>이미지</th>
        </tr>
        {# {'순위': rank, '제목':title, '저자':author, '출판사':company, 
            '가격':f'{price:7,d}', '링크':base_url+href_, '이미지':image_} #}
        {% for book in book_list %}
            <tr>
                <td style="text-align: center;">{{book.순위}}</td>
                <td style="text-align: center;"><img src="{{book.이미지}}" alt="" height="40px"></td>
                <td><a href="{{book.링크}}" target="_blank">{{book.제목}}</a></td>
                <td style="text-align: center;">{{book.저자}}</td>
                <td style="text-align: center;">{{book.출판사}}</td>
                <td style="text-align: right;">{{book.가격}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}