{% extends "base.html" %}
{% block title %}OpenAI API{% endblock %}
{% block additional_head %} 
    <script>
        function send() {
            let userInput = $('#userInput').val();
            let size = $("input[name='size']:checked").val();
            $('#generated_image').attr({'src': "{{ url_for('static', filename='img/please-wait.gif') }}"})
            $.ajax({
                type: 'POST',
                url: '/chatbot/genImg',
                data: {userInput: userInput, size: size},
                success: function(result) {
                    let res = JSON.parse(result);
                    $('#generated_image').attr({'src': res.img_url});
                    $('#translated_text').html(res.translated_text);
                }
            });
        }
    </script>
{% endblock %}
{% block subtitle %}OpenAI API (ChatGPT + Dall-E){% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div style="width: 80%;">
            <span class="me-3">이미지 사이즈:</span>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="size" value="1024x1024">1024 x 1024
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="size" value="512x512" checked>512 x 512
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="size" value="256x256">256 x 256
                </label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="input-group my-3" style="width: 80%;">
            <input type="text" class="form-control" id="userInput" placeholder="생성할 이미지를 묘사해 주세요."
                onkeyup="if(window.event.keyCode==13) {send()}">
            <button class="btn btn-primary" onclick="send()">이미지 생성</button>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom: 60px;">
        <div class="container overflow-auto" id="container" style="width: 80%; height: 600px;">
            <img id="generated_image">
            <div id="translated_text" class="mt-3"></div>
        </div>
   </div>
{% endblock %}