{% extends "base.html" %}
{% block additional_head %}
<script>
    function search(){
        let field = document.getElementById('field').value;
        let query = document.getElementById('query').value;
        console.log("search()", field, query);
        location.href = '/user/chatlist?field=' + field + '&query=' + query;
    }    	





/* onmouseover */
function bigImg(x) {
  x.style.height = "300px";
  x.style.width = "300px";
}

function normalImg(x) {
  x.style.height = "50px";
  x.style.width = "50px";
}

</script>
{% endblock %}
{% block subtitle %}
<table class="table table-sm table-borderless">
    <tr>
        <td style="width: 52%; text-align: left;">
            <h3 style=" color: MediumSeaGreen;"><strong><i class="fa-solid fa-comments" style="margin-right: 10px;"></i>{{uid}}님의 Chat 내용</strong></h3>
        </td>
        <td style="width: 15%;">
            <select class="form-select" id="field">
                <option value="u_question" {{ 'selected' if field == 'u_question' else '' }}>질문</option>
                <option value="c_answer" {{ 'selected' if field == 'c_answer' else ''}}>답변</option>
                <option value="c_date" {{ 'selected' if field == 'c_date' else ''}}>일시</option>
            </select>
        </td>
        <td style="width: 25%;">
            <input class="form-control" placeholder="검색할 내용" id="query" value="{{query|replace('%', '')}}"
            onkeyup="if(window.event.keyCode==13) search()">
        </td>
        <td style="width: 8%;">
            <button class="btn btn-outline-success" onclick="search()">검색</button>
        </td>
    </tr>
</table>
<hr style="width: 950px;">					
{% endblock %}
{% block content %}








<div class="card btn-group text-center" style="padding-left: 10px; padding-right: 10px; color: MediumSeaGreen; width: auto; height: auto; border: 2px solid; border-radius: 30px; ">
    <div class='container d-flex align-items-start'>
        <table class="table table-hover">
            <tr>
                <th style="width: 100px; color: MediumSeaGreen;">질문</th>
                <th style="color: MediumSeaGreen;">답변</th>
                <th style="color: MediumSeaGreen;">일시</th>
            </tr>
            {% for chat in chat_list %}
                <tr>
                <td style="color: rgb(43, 92, 66);">
                    {% if 'jpg' in chat[2].split('/')[-1]%}         <!-- 이미지파일 일때 이미지로 불러오고 -->
                        <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"  src="../static/upload/{{chat[2].split('/')[-1]}}" style="width: 100px;">{{chat[2].split('/')[-1]}}
                    {% elif 'png' in chat[2].split('/')[-1] %}
                        <img  onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" src="../static/upload/{{chat[2].split('/')[-1]}}" style="width: 100px;">{{chat[2].split('/')[-1]}}
                    {% else %}
                        {{chat[2]}}                 <!-- 텍스트 일때 텍스트로 출력 -->
                    {% endif %}
                        </td>
                                    <td style="color: rgb(43, 92, 66);">{{chat[3]}}</td>
                    <td style="color: rgb(43, 92, 66);">{{chat[4]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="container d-flex justify-content-center" style="outline-color: rgb(8, 191, 69); margin-top: 20px;">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {{ 'disabled' if page == 1 else '' }}">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item {{ 'disabled' if page == 1 else '' }}">
                <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for c_page in pages %}
                <li class="page-item">
                    <a class="page-link {{ 'active' if page == c_page else '' }}"  href="?page={{ c_page }}" aria-label="Group Start">
                        <span>{{ c_page }}</span>
                    </a>
                </li>
            {% endfor %}
            <li class="page-item {{ 'disabled' if page == num_pages else '' }}">
                <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item {{ 'disabled' if page == num_pages else '' }}">
                <a class="page-link" href="?page={{ num_pages }}" aria-label="Last">
                    <span aria-hidden="true">마지막</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Pagination -->
</div>



{% endblock %}